<app-menu [hidden]='!acceso'></app-menu>

<ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>

<div class="container" style="text-align:center; margin-top:3%">
    <form>
      <strong>SACAR TURNO</strong>
      <br><br>
       
      <form [formGroup]="turnoForm"  (ngSubmit)="Reservar()" >
        <div class="container" style="width: 25%;">
            <label for="fecha">Fecha</label>
            <div class="input-group-append">
          <input style="vertical-align: middle" [formControl]="dia" class="form-control" placeholder="dd-mm-aaaa"
          name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" readonly>
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"> </i>
          </button>
            </div>
      </div>
        <div class="container" style="width: 20%; text-align: center">
            <label for="Hora">Hora</label>
            <ngb-timepicker [spinners]="false" [formControl]="hora" [(ngModel)]="time" name="first"></ngb-timepicker>
        </div>
       <div class="container" style="text-align: center">
            <label for="Mascota">Mascota</label>
            <select [formControl]="unaMascota" [(ngModel)]="laMascota">
              <option *ngFor="let m of mascotas" [ngValue]="m.nroFicha">(# {{m.nroFicha}}) {{m.tipo}} - Raza: {{m.raza}} - Color: {{m.color}} - {{m.edad}} años</option>
            </select>
          </div>
      <div>
          <button type="submit" class="btn btn-success" [disabled]="!turnoForm.valid">Reservar Turno</button>
        </div>
      </form>
    </form>
  </div>
<app-listado [mascotas]='mascotas' [turnos]='turnos' ></app-listado>